@charset "utf-8";
/* CSS Document */

#header-photo {
	height: auto;
	width: auto;
	background: #000;
}

#header-photo h1#logo-text a {
	top: 25px; left: 30px;
	left: 0px; top: 0; position: relative;
}

#header-photo h2#slogan {
	top: 80px; left: 35px;		
	top: 0; left: 0px; position: relative;
}
