
/* ------------ GENERAL FORMATTING ------------ */
a, a:visited {	
	color: #326ea1;
	color: #7ECE05; /************************************************/
	text-decoration: none;		
}
a:hover {
	color: #383d44;
	padding-bottom: 0;
	border-bottom: 2px solid #dbd5c5;
}

/* headers */
h1, h2, h3 {
	font-family: 'Trebuchet MS', Tahoma, Verdana, Helvetica, Sans-serif;
	font-weight: Bold; 	
	color: #333;		
}
h1 {
	font-size: 160%;	
	font-weight: normal;
}
h2 {
	font-size: 130%;
	text-transform: uppercase;	
}
h3 {
	font-size: 130%;	
}

h1, h2, h3, p {
	padding: 10px;		
	margin: 0;
}
ul, ol {
	margin: 5px 20px;
	padding: 0 20px;
}

/* images */
img {
	background: #FAFAFA;
   border: 1px solid #DCDCDC;
	padding: 5px;
}
img.float-right {
  	margin: 5px 0px 10px 10px;  
}
img.float-left {
  	margin: 5px 10px 10px 0px;
}

code {
  	margin: 5px 0;
  	padding: 10px;
  	text-align: left;
  	display: block;
  	overflow: auto;  
  	font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace ;
  	/* white-space: pre; */
  	background: #F5F5F5;
	border-left: 3px solid #D4D4D4;
}
acronym {
  cursor: help;
  border-bottom: 1px dashed #777;
}
blockquote {
	font: bold 1.4em/1.5em 'Trebuchet MS', Tahoma, Sans-serif;	
	margin: 10px;
 	padding: 0 0 0 25px;  
    background: #F5F5F5;
	border-left: 3px solid #D4D4D4;	
	color: #444;
}
.weakpswd 
{
    color: #f00;
}
.strongpswd
{
    color:#7ECE05;
}
.BarIndicator_TextBox2
{
    color:Blue;
    background-color:Blue;
    padding-bottom:1px;
}

.BarBorder_TextBox2
{
    border-style:solid;
    border-width:1px;
    width:200px;
    vertical-align:middle;
}
