/* form elements */
form {
	margin:10px; padding: 0 5px;
	background: #D5D5D5;
}
label {
/*	display:block;
	font-weight:bold;
	margin:5px 0;*/
}
input {
	padding:2px;
	border:1px solid #ccc;
	font: normal 1em Verdana, sans-serif;
	color:#777;
}
input.noborder {
    border: none;
}
textarea {
	width:400px;
	padding:2px;
	font: normal 1em Verdana, sans-serif;
	border:1px solid #eee;
	height:100px;
	display:block;
	color:#777;
}
input.button { 
	font: bold 12px Arial, Sans-serif; 
	height: 24px;
	margin: 0;
	padding: 2px 3px; 
	color: #333;
	background: #e7e6e6 url(../images/button.jpg) repeat-x;
	border: 1px solid #dadada;
}

input.radio {
	background: none;
	border: none;
	padding: 2px;
}


/* search form */
.searchform {
	background-color: transparent;
	border: none;	
	margin: 0 5px 0 10px; padding: 5px 0 15px 0;	
	width: 190px;	
}
.searchform p { margin: 0; padding: 0; }
.searchform input.textbox { 
	width: 100px;
	color: #777; 
	height: 18px;
	padding: 2px;	
	border: 1px solid #E5E5E5;
	vertical-align: top;
}
.searchform input.button { 
	width: 60px;
	height: 24px;
	padding: 2px 5px;
	vertical-align: top;
}

span.reqd {
    color: #f00;
    font-weight: bold;
}
