/*------------ Page Layout Rules ------------*/

#wrap {
	/*position: relative;*/
	width: 960px;	
	margin: 0 auto 0;
	text-align: left;
}
#content-wrap {
	float: left;
	width: 960px;
	display: inline;
	padding: 0; 	
	background: #fff url(../images/content-wrap.jpg) repeat-x; 
}


/* **************************************** HEADER *************************************** */


#header {
	width: 960px;
	padding: 0;	
	color: #fff;
	background: #000 url(../images/bg4.jpg) center -110px no-repeat;
}

#header-links {
/*	position: absolute;
	top: 8px; 
	right: 45px;*/
	position: relative;
	color: #fff;
	font-size: 10px;	
	font-weight: bold;
	width: 100%;
	height: 40px;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #333;
}
#header-links p {	
	position: relative;
	padding: 15px;	
	margin: 0 auto;	
}

#header-links p span.greeting {
	color: #ffde00;
}

#header-links a {	
	text-decoration: none;	
	color: #fff;
}
#header-links a:hover {
	text-decoration: underline;		
}

/* header-photo */
#header-photo {
	position: relative;
	clear: both;
	clear: left;
	margin: 0px auto 99px;
	padding: 15px;
	padding-right: 0;
/*	background: #444 url(../images/headerbg.jpg) left top repeat-x;*/
	/*height: 180px;
	width: 100%;*/
	/*background: #fadc2f url(../images/orange.jpg) top left repeat-x;*/
}
#header-photo h1#logo-text {
	position: relative;
	margin: 0; padding: 0;
	font: bold 48px 'Trebuchet MS', Verdana, Helvetica, Arial, Sans-serif;
	letter-spacing: -1px;
	color: #fff;
	color: #e7e7e7;
	text-transform: none;
	text-decoration: none;
	
	/* change the values of top and left to adjust the position of the logo*/
	left: 0px;
	top: 10px; 
	position: relative;
	float: left;
	text-decoration: none;
}

#header-photo h1#logo-text span {
	color: #a8e601;
	color: #cf0;
	color: #7ECE05;
}

#header-photo h2#slogan {
	margin: 0; padding: 0;
	font: bold 14px 'Trebuchet MS', Arial, Sans-serif;
	text-transform: none;
	letter-spacing: 1px;
	color: #B6D1F8;
	color: #ffde00;
	
	/* change the values of top and left to adjust the position of the slogan*/
	top: 10px; left: 5px;
	position: relative;
	float: left;
	clear: left;
}



/* **************************************** MAIN COLUMN *************************************** */




#content-wrap #main {
	margin: 10px 10px 10px 270px; /* right margin = sidebar width + 10px */
	text-align: justify;
}

#main h1 {
	margin: 10px 10px 0 10px;
	font: normal 1.8em Georgia, "Times New Roman", Times, serif;
	color: #444;
	padding: 15px 0 2px 0px; 		
	border-bottom: 1px solid #dadada;
}


/**************************************** SIDEBAR **********************************************/


	
#sidebar {
	float: left;
	width: 260px;	
	margin-top: 10px;
}	
/* right column */
#rightcolumn {
	float: right;
	width: 190px;
	margin-top: 10px;	
}
#rightcolumn h1, #sidebar h1 {
	margin: 10px 5px 0 5px;
	padding: 5px 5px; 
	font: bold 1.4em 'Trebuchet MS', Tahoma, Sans-serif;
	color: #444;
	padding-left: 20px;
	background: url(../images/arrow.gif) left center no-repeat;
}

/* sidemenu */
ul.sidemenu {
	text-align: left;
	margin: 7px 8px 8px 20px;
	padding: 0;			
	border-top: 1px solid #E5E5E5;
	text-decoration: none;	
}
ul.sidemenu li {
	list-style: none;
	padding: 4px 0 4px 5px;
	margin: 0 2px;		
	border-bottom: 1px solid #E5E5E5;
}
* html body ul.sidemenu li {
	height: 1%;
}
ul.sidemenu li a {
	text-decoration: none;	
	color: #326ea1;
	color: #7ECE05;
	font-weight: 500;
	border: none;		
}
ul.sidemenu li a:hover {	
	color: #383d44;
	border: none;
}

#sidebar p {
	margin-left: 16px;
}


/* **************************************** FOOTER WRAP *************************************** */



#footer-wrap {
	clear: both;
	width: 100%;
	/*height: 200px;*/
	font-size: 95%;
	padding: 20px 0 20px;
	text-align: left;	
/*	background: #e7e7e7 url(../images/white.jpg) repeat-x top left;
	background: #000;*/
	margin: 0;
}
#footer-wrap a {
	text-decoration: none;
	color: #666666;
	font-weight: bold;
}
#footer-wrap a:hover {
	color: #000;	
}
#footer-wrap p {
	padding: 10px 0;
}
#footer-wrap h2 {
	color: #666666;
	margin: 0;
	padding: 0 10px; 
}


/* **************************************** FOOTER *************************************** */


#footer {
	clear: both;
	color: #666;	
	margin: 0 auto 0px auto; 
	padding: 5px 0;
	text-align: center;
	background: url(../images/footer-top.jpg) top center no-repeat;
}

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* display and additional classes */
.clear { clear: both; }

/* post */
.post-by {
	font-size: .95em;	
	padding-top: 0;
}
.post-footer {
	background: #F5F5F5;
	padding: 5px; margin: 20px 10px 0 10px;	
	font-size: 95%;	
	color: #666666;	
}
.post-footer .date{
	margin: 0 10px 0 5px;	
}
.post-footer a.comments {
	margin: 0 10px 0 5px;	
}
.post-footer a.readmore {
	margin: 0 10px 0 5px;	
}

/* Misc styles */

br.clear {
    clear: both;
}

.profilepic 
{
    padding: 5px;
    border: 1px solid #cfcfcf;
    margin: 5px;
    margin-right: 10px;
    text-align: center;
}

