@charset "utf-8";
@import url(forms.css);
@import url(table.css);
@import url(formatting.css);
@import url(layout2.css);

/* Top Elements */
* { margin: 0; padding: 0;}

body {
	background: #000;
	font: 11px/1.75em Verdana, Tahoma, arial, sans-serif;
	color: #666666; 
	text-align: center;
	margin: 0 auto;	
}

/* Navigation */


#nav {
/*	clear: right;*/	
	float: right;
	padding: 0;	
	margin: 50px auto 0;
/*	border-bottom: 1px solid #999;
	background-color: #3973ae;*/
}
#nav ul {
	/*float: left;*/
	list-style: none;
/*	background: #E4E4E4 url(../images/header_nav_bg.jpg) repeat-x;
	background: #baff00;*/
/*	width: 900px;*/
	padding: 0;	
	margin: 0 auto;
	display: inline;
	text-transform: uppercase;
}
#nav ul li {
	display: inline;
	margin: 0 auto;
	padding: 0;
}
#nav ul li a {
	display: block;
	float: left;
	width: auto;
	margin: 0 auto;
	padding: 0 15px;
	/*border-right: 1px solid #313131;
	border-left: 1px solid #616161;	*/
	border-bottom: none;
	color: #555;
	color: #ededed;
	font: bold 14px/36px "Century Gothic", "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
	text-transform: uppercase;
	text-decoration: none;	
	letter-spacing: 2px;
}
#nav ul li a:hover, 
#nav ul li a:active {
	color: #326ea1;
	background-color: #79B837;
	color: #fff;
}



/********************************************* NAVBAR STYLES *************************************/


body.home a#home, a#home:hover {
	background: url(../images/light_blue.jpg) center -140px repeat-x;
}

body.works a#works, a#works:hover {
	background: url(../images/red.jpg) center -140px repeat-x;
}

body.order a#order , a#order:hover {
	background: url(../images/dark_orange.jpg) center -140px repeat-x;
}

body.add a#add , a#add:hover {
	background: url(../images/green.jpg) center -140px repeat-x;
}

body.contact a#contact , a#contact:hover {
	background: url(../images/orange.jpg) center -140px repeat-x;
}


