/* start - table */
table {
	border-collapse: collapse;
	margin: 15px 10px;	
}
th strong {
	color: #fff;
}
th {
	background: #000;
	height: 38px;
	padding-left: 12px;
	padding-right: 12px;	
	text-align: center;
	border: 1px solid #211E20;
	border-top: 2px solid #7ECE05;
	color: #fff;
}
tr {
	height: 34px;
	color: #5b5b5b;
}
td {
	padding-left: 12px;
	padding-right: 12px;
	border: 1px solid #111;
}
td.first,th.first {
	border-left: 0px;
}
tr.row-a {
	background: #F8F8F8;
}
tr.row-b {
	background: #EFEFEF;		
}
/* end - table */


table a:hover 
{
    color: #7ECE05;
    text-decoration: underline;
}

p.noborder table 
{
    border:none;
}