﻿<%@ Page Title="Forgot Password" Language="C#" MasterPageFile="~/MasterPages/Default.master" AutoEventWireup="true" CodeFile="forgot.aspx.cs" Inherits="profile_forgot" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cph_header" Runat="Server">
</asp:Content>


<asp:Content ID="Content2" ContentPlaceHolderID="cph_nav" Runat="Server">
</asp:Content>


<asp:Content ID="Content3" ContentPlaceHolderID="cph_pageTitle" Runat="Server">
Forgot Password
</asp:Content>


<asp:Content ID="Content4" ContentPlaceHolderID="cph_mainContent" Runat="Server">
</asp:Content>

